
.container {
  margin: 0 auto;
  padding: 40px 20px;

  .title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingText {
  margin-top: 20px;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
}

.fruitList {
  flex: 1 1 100%;
  max-width: 300px;
}

.fruitJar {
  flex: 1 1 100%;
}
